.barra .botaoDiv {
  float: center;
  display: flex;
  height: 60px;
  flex-direction: center;
  justify-content: center;
}

.barra .botaoAtivo {
  background-color: transparent;
  color: rgb(255, 255, 255);

  flex-direction: center;
  border: none;
  height: 60px;
  
}

.barra .botao {
  background-color: transparent;
  color: rgb(102, 119, 133);

  flex-direction: center;
  border: none;
  height: 60px;
}



